<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453657791078-pleakaihhvv5k1djk41dpcchail4iub8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453657791078-pleakaihhvv5k1djk41dpcchail4iub8</string>
	<key>API_KEY</key>
	<string>AIzaSyAg6MKrlZqBZsK18ZA-NukM_C227C-JH9s</string>
	<key>GCM_SENDER_ID</key>
	<string>453657791078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.attedance.kita.mobile-banking.3.0</string>
	<key>PROJECT_ID</key>
	<string>product-2b8d9</string>
	<key>STORAGE_BUCKET</key>
	<string>product-2b8d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453657791078:ios:81479bd1452ae9da967ba7</string>
</dict>
</plist>